/* MainCss Published By Unithon 12th team */


/*======= main area =========*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* word setting */

html {
    overflow-x: hidden; height: 100%;
}

a { color: #333; }
a:hover { text-decoration: none; color: #333; }

h1, h2, h3, h4, h5, h6, p, ul, li, input{
    font-family: 'Roboto', "Noto Sans KR", "MalgunGothic", sans-serif !important;
}


/* navbar */
.navbar-brand img {
    display: block;
    max-width: 30px;
    margin-top: 15px;
}
.mainNav{background:#AF4140;position:relative;margin:0;padding:0;border-width:0;width:100%;-webkit-transition:all 2s ease;transition:all 2s ease; min-height: 65px;}
.mainNav::after{clear:both}
.navLeft h1{display:inline-block;margin:0}
.navLeft ul{list-style:none;margin:0;padding-left:0;display:inline-block;float:right; margin-left: 25px;}
.navLeft ul li{display: inline-block; padding: 35px 20px;}
.navLeft ul li a{font-size:20px;color:#fff;transition: all 1s ease;}
@media screen and (max-width: 767px) {
    .navLeft ul li { padding: 35px 10px; }
    .navLeft ul li a{font-size:13px;}
}
.navLeft{float:left}
.navRight{float:right}

/* 센터 로고 */

.center_logo {
    display: block;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 서치 부분 */

.mainSearchArea{min-height:300px;background:url(./img/mainbg.png) no-repeat center / cover;  padding: 50px 0px;}
.SearchBar {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px 0px #eee;
    border: none;
    max-width: 425px;
    margin: 35px auto 0;
    width: 100%;
}
.SearchBar input{    padding: 14px 7px 14px 15px; width: 80%;}
.SearchBar button{
    background: rgba(255,255,255,1);
    text-shadow: none;
    border: none;
    box-shadow: none;
    padding: 15px 20px;
    width: 20%;
}
.SearchBar button i{color:#A42B31;font-weight:500;font-size:17px}


/* 메인 콘텐츠 부분 */
.mainContents {
    max-width: 1410px;
    margin: 0 auto;
    width: 100%;
    padding-top: 2%;
}

.rightSide {
    display: block;
}

.leftSide h3, .rightSide h3 {
    color: #922F2D;
    font-size: 23px;
    margin-bottom: 35px;
    letter-spacing: -0.7px;
}
@media screen and (max-width: 767px) {
    .leftSide h3, .rightSide h3 {
        color: #922F2D;
        font-size: 17px;
        letter-spacing: -0.7px;
        padding-top: 20px;
    }
}
.leftSide h3 span, .rightSide h3 span { display: inline-block; border-right: 3px solid #C9CDCB; border-left: 3px solid #C9CDCB; padding: 0px 15px; }

/* 커뮤니티 컨텐츠 */
.userboard_txt { border: 1px solid #eee; margin-bottom: 15px; padding: 0 2%; }
.userboard_txt:nth-child(odd) { background: #fff; }
.userboard_txt:nth-child(2n) { background: #ccc; }



.userboard_title { margin: 0px 0px 15px !important; }
.userboard_txt .txt_wrap { padding: 3% 0; }
.userboard_txt .img_wrap img { max-width: 70px; display: block; margin: 19px auto; width: 100%; }
.userboard_txt p > span {
    display: inline;
    float: right;
    font-weight: bold;
    font-size: 15px;
}


/* 뉴스 컨텐츠 */
.recentBoardList { padding-left: 0; }
.InnerRecentBoardList {
    min-height: 150px;
    margin-bottom: 45px;
    border: 2px solid #ccc;
    padding: 9px;
    box-shadow: 1px 0px 4px 1px #c3c3c3;
}
.recentNewsTitle {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 17px;
    color: #922F2D;
    font-weight: 700;
    margin: 0 auto;
}

.recentNewsDescription { max-width: 90%; margin: 0 auto; display: block; }

.ImageWrap { margin-bottom: 15px; }
.ImageWrap img {
    width: 90%;
    height: auto;
    margin: 25px auto;
    display: block;
}


/* 서브페이지 커스텀 */

/* about */
.about { max-width: 970px; width: 100%; margin: 85px auto 0; }
@media screen and (max-width: 767px) { .about { margin: 85px auto; } }
.about .img_wrap p { color: #C1363D; font-size: 16px; font-weight: 700; margin-top: 35px; }

/* 검색 결과 페이지 */

/* 스피너 */
.spinner {
    display: block !important;
    position: absolute;
    left: 50%;
    top: 50%;
}
.mainSpinner { max-width: 0% !important; margin: 0 auto !important; display: block !important; }

.SearchRes .InnerSearchBoardList {
    width: calc(100%/3);
    float: left;
    border-top: 1px solid #ccc;
    padding: 25px 5%;
    min-height: 500px;
}


@media screen and (max-width: 991px) {
    .SearchRes .InnerSearchBoardList {
        width: 50%;
        float: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 25px 5%;
        margin: 15px 0px;
        min-height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .SearchRes .InnerSearchBoardList {
        width: 100%;
        float: none;
    }
}

.InnerSearchBoardList { list-style: none; }
.ImageSearchWrap img {
    margin-bottom: 25px;
    max-height: 200px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.recentSearchNewsTitle {
    color: #922F2D;
    font-size: 19px;
    letter-spacing: -0.7px;
    display: block;
    font-weight: bold;
    word-break: keep-all;
    margin: 15px 0px;
}

/* animation */

@keyframes widthfull {
    0% { width: 0% }
    100% { width: 100%; }
}

@keyframes opacitycont {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.SearchBar { animation: widthfull; animation-duration: 4s;  }
.SearchBar button i { animation: opacitycont; animation-timing-function: linear; animation-duration: 2s; animation-iteration-count: infinite;}
